/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}
.topbar{
    -fx-background-color: #e0e0e0;
}

.dropdowns{
      -fx-background-color: #B5B5B5;
}

.categorylist {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}
.nonfavourite{
    -fx-background-color: #D3D3D3;
    -fx-background-image: url("heart1.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 50 50;
    -fx-background-position: center center;
}
.favourite{
    -fx-background-color: #D3D3D3;
    -fx-background-image: url("heart2.png");
    -fx-background-repeat: stretch;
    -fx-background-size: 50 50;
    -fx-background-position: center center;
}
.buyButton{
    -fx-background-color: #64C032;
    -fx-border-width: 1;
    -fx-border-style: solid;
    -fx-border-color: #B5B5B5;

}
  