/*
 * Empty Stylesheet file.
 */

.mainFxmlClass {
    
}
.topbar{
    -fx-background-color: #e0e0e0;
}

.dropdowns{
      -fx-background-color: #ff0030
}

.categorylist {
    -fx-font-size: 1.2em;
    -fx-font-weight: bold;
}
  